{
  "sensu": [
{% for endpoint in sensu_api_endpoints %}
    {
      "name": "{{ endpoint['name'] | default(sensu_default_endpoint['name'], true) }}",
      "host": "{{ endpoint['host'] | default(sensu_default_endpoint['host'], true) }}",
      "ssl": {{ (endpoint['ssl'] | default(sensu_default_endpoint['ssl'], true)) | lower }},
      "insecure": {{ (endpoint['insecure'] | default(sensu_default_endpoint['insecure'], true)) | lower }},
      "port": {{ endpoint['port'] | default(sensu_default_endpoint['port'], true) }},
      "user": "{{ endpoint['user'] | default(sensu_default_endpoint['user'], true) }}",
      "pass": "{{ endpoint['pass'] | default(sensu_default_endpoint['pass'], true) }}",
      "path": "{{ endpoint['path'] | default(sensu_default_endpoint['path'], true) }}",
      "timeout": {{ endpoint['timeout'] | default(sensu_default_endpoint['timeout'], true) }}
    }{{ ',' if loop.index < sensu_api_endpoints|length else '' }}
{% endfor %}
  ],
  "uchiwa": {
    "host": "{{ host }}",
    "port": {{ port }},
    "user": "{{ user }}",
    "pass": "{{ passwd }}",
    "refresh": {{ refresh }}{{ ',' if users or auth else '' }}
{% if users %}
    "users": [
{% for user in users %}
      {
        "username": "{{ user['username'] }}",
        "password": "{{ user['password'] }}",
        "role": {
          "readonly": {{ user['readonly'] | default(false) | lower }}
        }
      }{{ ',' if loop.index < users|length else '' }}
{% endfor %}
    ]{{ ',' if auth else '' }}
{% endif %}
{% if auth %}
    "auth": {
      "privatekey": "{{ auth['privatekey'] }}",
      "publickey": "{{ auth['publickey'] }}"
    }
{% endif %}
  }
}
